.direito {
  width: 90vh;
  height: 92vh;
  background-color: #ffff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 60px;
}

.direito #formSaque {
  width: 100%;
  max-width: 690px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 20px;
}

.titulo-saque {
  position: relative;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

.titulo-saque::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #A7CE2E;
}

.direito h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

.saldo {
  color: #0A1B1E;
  font-size: 30;
}

.valor-saldo {
  display: block;
  color: #A7CE2E;
  font-weight: 700;
}

.valor-saque{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  color: #0A1B1E;
  font-size: 30;

}

.direito input {
  padding-left: 15px;
  height: 55px;
  border-radius: 20px;
  font-size: 17px;
  background-color: #F5F5F5;
  color: #898989;
  border: 0.5px solid #BCBCBC;
  width: 100%;
}

input::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #aaa;
  font-size: 17px;
}

.sair {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  height: 56px;
  border: none;
  border-radius: 30px;
  background-color: #A7CE2E;
  cursor: pointer;
  width: 100%;
}

.sacar {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  height: 56px;
  border: none;
  border-radius: 30px;
  background-color: #0A1B1E;
  cursor: pointer;
  width: 100%;
}

.direito .error {
  font-family: "Montserrat", sans-serif;
  color: #ff0000;
  font-size: 16px;
  margin-top: 10px;
}

#resultadoSaque {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #0A1B1E;
  margin-top: 20px;
  text-align: center;
}
