.direito {
  width: 90vh;
  height: 92vh;
  background-color: #ffff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 60px;
}

.direito form {
  width: 100%;
  max-width: 690px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.direito h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 90px;
  margin-bottom: 20px;
  gap: 10px;
}

.direito h1 .criar {
  display: inline-block;
}

.direito h1 .conta {
  display: inline-block;
}

.direito input {
  padding-left: 15px;
  height: 55px;
  border-radius: 20px;
  font-size: 17px;
  background-color: #F5F5F5;
  color: #898989;
  border: 0.5px solid #BCBCBC;
}

input::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #aaa;
  font-size: 17px;
}

.entrar{
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  height: 56px;
  border: none;
  border-radius: 30px;
  margin-left: 10px;
  background-color: #A7CE2E;
  cursor: pointer;
}

.or-divider span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #BCBCBC;
}

.criar-conta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
}

.criar-conta-container span {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #0A1B1E;
}

.conta{
  color: #A7CE2E;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #0A1B1E;
  font-size: 20px;
  margin-bottom: 20px;
}

.voltar{
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  height: 56px;
  border: none;
  border-radius: 30px;
  margin-left: 10px;
  background-color: #0A1B1E;
  cursor: pointer;
}
