<h1>Fazer login</h1>

<form (ngSubmit)="FazerLogin()">
  <label for="numeroConta">Número da Conta:</label>
  <input type="text" id="numeroConta" [(ngModel)]="loginData.numeroConta" name="numeroConta" required>

  <label for="senha">Senha:</label>
  <input type="password" id="senha" [(ngModel)]="loginData.senha" name="senha" required>

  <button type="submit">Entrar</button>
</form>


<div *ngIf="usuarioLogado">
  <h2>Bem-vindo, {{ usuarioLogado.nome }}</h2>
  <p>Saldo: R$ {{ usuarioLogado.saldo }}</p>

  <!-- Componente de Saque -->
  <app-saque [usuarioLogado]="usuarioLogado"></app-saque>
  <button (click)="sair()">Sair</button>

</div>
